.pageheader {
    height: 10vh;
    background-color: darkcyan;
}


.pagebody {
    display: flex;
    margin-left: 4vw;
    margin-top:5vh;
}

.unauthorizedTitle {
    font-family: 'Momo Trust Display';
    font-size: 7vw;
    text-align: center;
    margin-top: 13vw;
}

.unauthorizedMsg {
    font-family: 'Momo Trust Display';
    font-size: 2vw;
    text-align: center;
}