.dataRow {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1vw;
    background-color: beige;
    padding: 1vh 1vw 1vh 1vw;
    margin:0;
    align-items: center;
    border-width: 1.5px 3px 1.5px 3px;
    border-style: solid;
    border-color: black;
}

.dataLabel {
    z-index: -1;
}

.dataRowCont {
    display: flex;
    flex-direction: row;
}

.dataCont {
    width: 11vw;
    text-align: center;
}

.dataCont > * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: large;
    font-family: 'Momo Trust Display';
}

.createCont {
    width: 11vw;
    text-align: center;
}

.createCont > * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: large;
    font-family: 'Momo Trust Display';
}

.createInput {
    background-color: white;
    text-align: center;
}

ul {
    list-style: none;
    list-style-type: none;
    width: fit-content;
    padding: 0;
    margin:0;
}

li {
    list-style: none;
    list-style-type: none;
}

.fieldRow {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    background-color: darkslategray;
    padding: 1vh 1vw 1vh 1vw;
    margin:0;
    border-width: 1.5px 3px 1.5px 3px;
    border-style: solid;
    border-color: black;
}

.rowBtn:hover {
  filter: brightness(0.95);
}


.fieldCont {
    width: 11vw;
    font-size: x-large;
    text-align: center;
    font-family: 'Momo Trust Display';
    color: white;
}

.subsectionRowCont {
    margin-left: 2.5vw;
}

.dataInput {
    background-color: transparent;
    text-align: center;
    border: none;
}

.rowBtn {
    width: 2.5vw;
    font-family: 'Russo One';
    color: white;
}

.deleteBtn {
    font-size: x-large;
    background-color: red;
}

.createBtn {
    font-size: xx-large;
    background-color: limegreen;
}

.expandBtn {
    font-size: x-large;
    background-color: lightblue;
}

.idField {
    font-size: 1vh;
}

.dateField {
    font-size: medium;
}

.descriptionFieldCont, .descriptionField {
    width: 25vw;
}

.logoutnotificationurlFieldCont, .logout_notification_urlFieldCont, .logout_notification_urlField {
    width:15vw;
}

.redirect_uriFieldCont, .redirecturiFieldCont, .redirect_uriField {
    width:15vw;
}

.logout_notification_urlField, .redirect_uriField {
    font-size: 1.3vh;
}

.urlField {
    font-size: 1vh;
}

.addListRow {
    background-color: silver;
}


.subsectionTitle {
    width: 30vw;
    text-align: center;
    font-size: x-large;
    font-family: 'Momo Trust Display';
    color: white;
    background-color: #1f1f1f;
    padding: 1vh 1vw 1vh 1vw;
    margin:0;
    border-width: 1.5px 3px 1.5px 3px;
    border-style: solid;
    border-color: black;
}

.subsectionTitleExpanded {
    flex-grow: 1;
}

.subsectionPreview {
    display: flex;
    flex-direction: row;
}
