.navbar {
    display: flex;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.navbutton {
    width: 15vw;
    height: 100%;
    font-size: xx-large;
    font-family: 'Momo Trust Display';
    color: white;
    background-color: transparent;
    border: none;
    
}

.navbutton:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.selected {
    background-color: rgba(200, 200, 200, 0.5);
}

.selected:hover {
    background-color: rgba(200, 200, 200, 0.5);
}