:root {
  background-color: lightsteelblue;
  display: block;
}

body {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pageheader {
  background-color: steelblue;
  padding: 0.5vw;
}

.appname {
  font-size: 3vw;
  color:white;
  font-family: Dosis;
  margin: 0 0 0 1vw;
}

.pagebody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.loginbutton {
  align-self: center;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 35vh;
  margin-bottom: 10vh;
  font-family: Dosis;
  width: 20%;
  height: 10%;
}

.contenttext {
  font-size: 2vw;
  font-weight: bold;
  color: white;
  font-family: Dosis;
}

.unauthorizedMsg {
  font-size: 3vh;
  font-family: Dosis;
  color: crimson;
  background-color: white;
  padding: 1vh 1vw 1vh 1vw;
}